.group {
    margin: 0 0 1.5rem;
}

.label {
    display: block;
    margin: 0 0 0.5rem;
    font-size: 0.8rem;
}

.input {
    display: block;
    width: 100%;
    height: 40px;
    padding: 0.25rem 0.5rem;
    border: 1px solid var(--colour-border);
}

.textarea {
    height: auto;
}

.button {
    padding: 0.5rem 1rem;
    background: var(--colour-accent);
    color: var(--colour-background);

    &:hover {
        filter: brightness(85%);
    }
}
