@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --colour-background: #ffffff;
        --colour-accent: #e84c3d;
        --colour-text: #101010;
        --colour-hero: #e6e6e6;
        --colour-border: #bdbdbd;
        --gutter: 1rem;
        --font-body: 'Montserrat', sans-serif;
    }
}

html,
body {
    position: relative;
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: var(--font-body);
    color: var(--colour-text);
}
